@model TripUp.Models.ItineraryDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ItineraryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItineraryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItineraryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItineraryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItineraryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PitStop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PitStop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
